<div class="container">
    <div class="row">
        <div class="mx-auto bg-dark text-center text-light m-4 p-2 rounded" style="width: 200px;">
            Weather App
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-1">
        <div class="bg-secondary m-3 p-3 text-center text-light rounded col-lg-3 col-md-3">
            <form>
                <div class="form-group">
                    <label for="selectCity">Şehir Seçimi</label>
                    <select [(ngModel)]="cityNgModel" name="selectCity" (change)="ChangeCity($event.target.value)" class="form-control" id="selectCity">
                        <option *ngFor="let i of ListCity" value="{{i.il}}">{{i.il}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="selectDistrict">Bölge Seçimi</label>
                    <select [(ngModel)]="districtNgModel" name="selectDistrict" class="form-control" id="selectDistrict">
                        <option *ngFor="let i of ListDistrict" value="{{i.merkezId}}">{{i.ilce}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button (click)="Search()" type="button" class="btn btn-light">Ekle</button>
                </div>
            </form>
        </div>
        <div style="max-height: 350px;" class="m-3 rounded col-lg-8 col-md-7 border border-secondary">
            <div class="input-group">
                <input disabled type="text" class="form-control text-center" value="Liste">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ayarlar</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item">
                            <label>
                                <input [(ngModel)]="UpdateOptions.State" data-toggle="toggle" type="checkbox"> Otomatik Yenileme
                            </label>
                        </a>
                        <div role="separator" class="dropdown-divider"></div>
                        <button (click)="UpdateAllList()" class="dropdown-item" type="button">Tümünü Yenile</button>
                    </div>
                </div>
            </div>
            <div style="overflow: auto;max-height: 300px;" class="table-responsive">
                <table class="table table-hover" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Şehir</th>
                            <th scope="col">Bölge</th>
                            <th scope="col">Sıcaklık</th>
                            <th scope="col">Nem</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of ListDisplay">
                            <th scope="row">{{i.displayNo}}</th>
                            <td>{{i.city}}</td>
                            <td>{{i.district}}</td>
                            <td>{{i.sicaklik}} °C</td>
                            <td>{{i.nem}} %</td>
                            <td>
                                <button (click)="DeleteItemDisplayList(i)" class="btn btn-danger btn-sm">x</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>